{
    "printWidth": 120,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "quoteProps": "preserve",
    "vueIndentScriptAndStyle": false,
    "bracketSpacing": true,
    "trailingComma": "all"
}